<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Comic-app</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/home">Comic-app</a></h1>
      <a href="/logout" onclick="return confirm('ログアウトしますか？');"
        >ログアウト</a
      >
      <p>こんにちは、<%= username %>さん</p>
    </header>
    <div class="container">
      <div class="panel">
        <h2>ホーム</h2>
        <p>ようこそ、Comic-appへ！</p>
        <a href="/create_group">グループ作成</a>
        <a href="/show_groups">グループ一覧</a>
        <a href="/list">漫画一覧へ</a>
        <a href="/borrowed">借りている本一覧</a>
        <a href="/chat">チャットルームへ</a>
      </div>
      <div class="info">
        <h2>お知らせ</h2>
        <p>現在、特にお知らせはありません。</p>
      </div>
    </div>
    <footer>
      <p>&copy; 2023 Comic-app. All rights reserved.</p>
    </footer>
  </body>
</html>
