<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Comic-app</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="send_url.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="wrapper">
        <div class="content">
          <h1>Comic-app</h1>
          <p>Welcome to the Comic-app!</p>
          <a class="btn" href="/login">START</a>
        </div>
      </div>
    </div>
  </body>
</html>
